body
{
    background-color: darkslategray;
}

h1
{
    color: white;
    text-align: center;
    
}

h2
{
    color: white;
    text-align: center;
}

#loadH1
{
    color: green;
    text-align: center;
}

#buttonSub
{
    background-color: white;
    height: 75px;
    width: 50%;
    margin-top: 2%;
    padding: 50x;
    font-size: 30px;
    transform: translateX(50%);
    
}

#group0
{
    background-color: white;
    float: left;
    height: 125px;
    width: 25%;
    padding: 50x;
    font-size: 30px;
}

#group1
{
    background-color: white;
    float: left;
    height: 125px;
    width: 25%;
    padding: 50x;
    font-size: 30px;
}

#group2
{
    background-color: white;
    float: left;
    height: 125px;
    width: 25%;
    padding: 50x;
    font-size: 30px;
}

#group3
{
    background-color: white;
    float: left;
    height: 125px;
    width: 25%;
    padding: 50x;
    font-size: 30px;
}

canvas
{
    
    height: 100px;
    width: 25%;
    transform: translateX(14%);
}
