body
{
    background-color: darkslategray;
}

h1
{
    color: white;
    text-align: center;
    
}

h2
{
    color: white;
    text-align: center;
}

#loadH1
{
    color: green;
    text-align: center;
}

button
{
    background-color: white;
    float: left;
    height: 150px;
    width: 25%;
    padding: 50x;
    font-size: 30px;
}

canvas
{
    float: left;
    height: 100px;
    width: 25%;
    text-align: center;
}
